header {
    text-align: center;
    padding: 20px;
    height: 10vh;
}

.fourDay h6{
    border-bottom: solid black 2px;
}

.cardDiv {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(230,145,15,1) 46%, rgba(255,0,0,1) 100%);
    padding: 10px;
}

.searchMsg {
    display: flex;
}

.mainCard {
    border-bottom: 2px solid black;
}



